body, html {
    margin: 0;
    padding: 0;
    background-color: rgba(103, 13, 13, 0.342);
}

* { box-sizing: border-box; }

header {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: rgb(126, 20, 6);
}

nav ul {
    list-style-type: none;
}

nav li {
    float: right;
    width: 25%;
    text-align: center;
    color: brown;
}

nav {
    width: 100%;
    margin: 0 auto;
}

#js_meilleurs_film {
    cursor: pointer; 
}

.meilleur_film {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgb(155, 28, 38);
}

#flex {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#titre_meilleur_film {
    color: black;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 0.5em;
    background-color: rgb(155, 28, 38);
    opacity: 0.80;
}

#meilleur_film_p {
    overflow: hidden;
    color: black;
    font-size: 25px;
    background-color: rgb(155, 28, 38);
    opacity: 0.80;
    text-align: left;
    margin-left: 1em;
}

.bouton_play {
    margin-left: 1em;
}

.category {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

.next_button, .prev_button{
    align-self: center;
    cursor: pointer;
}

.next_button :hover, .prev_button :hover {
    transform: scale(1.1);
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: rgb(155, 28, 38);
    text-shadow: 2px 4px 4px rgb(103, 13, 13);
    letter-spacing: 1.2px;
    margin-top: 2em;
    margin-left: 3em;
}

.modal {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal_wrapper {
    overflow: auto;
    position: relative;
    width: 800px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #FFF;
}

.close_modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    background-color: #ff365e;
    color: #FFF;
}

.modal p {
    font-size: 19px;
    font-weight: 500;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

#movie_title {
    font-size: 25px;
    font-weight: bold;
}

.modal img {
    float: left;
    margin-right: 1em;
}